! XTerm
XTerm.vt100.internalBorder: 6
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.saveLines: 4096
XTerm.vt100.scrollBar: false
XTerm.vt100.scrollbar.width: 8
XTerm.vt100.translations: #override \n\
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)
XTerm*font: -*-terminus-medium-r-*-*-14-*-*-*-c-*-*-*
XTerm*font1: -*-terminus-medium-r-*-*-14-*-*-*-c-*-*-*
XTerm*font2: -*-terminus-medium-r-*-*-16-*-*-*-c-*-*-*
XTerm*font3: -*-terminus-medium-r-*-*-18-*-*-*-c-*-*-*
XTerm*font4: -*-terminus-medium-r-*-*-20-*-*-*-c-*-*-*
XTerm*font5: -*-terminus-medium-r-*-*-26-*-*-*-c-*-*-*
XTerm*font6: -*-terminus-medium-r-*-*-34-*-*-*-c-*-*-*
XTerm*faceName:JetBrains Mono NL
XTerm*faceSize:12.0
XTerm*allowBoldFonts: false
! Set to true to switch to Xft fonts
XTerm.vt100.renderFont: true
XTerm.vt100.colorBDMode: true

! rxvt-unicode (urxvt) settings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.externalBorder:   0
URxvt.internalBorder:   4
URxvt.iso14755: false
URxvt.iso14755_52: false
!URxvt.font:              x:9x15
!URxvt.boldFont:          x:9x15
!URxvt.font:              x:-*-terminus-medium-r-*-*-16-*-*-*-c-*-*-*
!URxvt.boldFont:          x:-*-terminus-medium-r-*-*-16-*-*-*-c-*-*-*
URxvt.font:              xft:JetBrains Mono NL:pixelsize=15
URxvt.boldFont:          xft:JetBrains Mono NL:pixelsize=15
! See :help map-alt-keys in VIM
URxvt.meta8:             false
URxvt.scrollstyle:       plain
URxvt.secondaryScroll:   right
URxvt.scrollBar_right:   true
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt.thickness: 0
URxvt.saveLines:         8192
URxvt.visualBell:        true
URxvt.fading:            5
URxvt.print-pipe: "cat > /dev/null"
URxvt.perl-ext-common: default
URxvt.pointerColor: white
URxvt.pointerColor2: black

! Solarized URxvt colors
! URxvt.color0:S_color0
! URxvt.color1:S_color1
! URxvt.color2:S_color2
! URxvt.color3:S_color3
! URxvt.color4:S_color4
! URxvt.color5:S_color5
! URxvt.color6:S_color6
! URxvt.color7:S_color7
! URxvt.color8:S_color8
! URxvt.color9:S_color9
! URxvt.color10:S_color10
! URxvt.color11:S_color11
! URxvt.color12:S_color12
! URxvt.color13:S_color13
! URxvt.color14:S_color14
! URxvt.color15:S_color15
! URxvt.foreground:S_fg
! URxvt.background:S_bg
! URxvt.scrollColor:S_color14
! URxvt.cursorColor:S_color10
! URxvt.colorBD:#ffffff
! URxvt.colorUL:#ffffff

! Charcoal
!urxvt.color0:#242424
!urxvt.color1:#774444
!urxvt.color2:#88aa77
!urxvt.color3:#aa9977
!urxvt.color4:#556677
!urxvt.color5:#775566
!urxvt.color6:#557777
!urxvt.color7:#dddddd
!URxvt.color8:#666666
!URxvt.color9:#996666
!URxvt.color10:#99cc99
!URxvt.color11:#ddccaa
!URxvt.color12:#99bbcc
!URxvt.color13:#bb99bb
!URxvt.color14:#99ccbb
!URxvt.color15:#ffffff
!URxvt.foreground:#bbbbbb
!URxvt.background:#242424
!URxvt.scrollColor:#333333
!URxvt.cursorColor:#93d487
!URxvt.colorBD:#ffffff
!URxvt.colorUL:#ffffff

! Material Lighter
!*.color0:#000000
!*.color1:#E53935
!*.color2:#91B859
!*.color3:#E2931D
!*.color4:#6182B8
!*.color5:#9C3EDA
!*.color6:#39ADB5
!*.color7:#AFBEC5
!*.color8:#37474F
!*.color9:#E53935
!*.color10:#91B859
!*.color11:#E2931D
!*.color12:#6182B8
!*.color13:#9C3EDA
!*.color14:#39ADB5
!*.color15:#EDEFF1
!*.foreground:#37474F
!*.background:#FAFAFA
!*.cursorColor:#666666
!*.scrollColor:#EDEFF1

! Nord
!   _write palette "['$nord1', '$nord11', '$nord14', '$nord13', '$nord9', '$nord15', '$nord8', '$nord5', '$nord3', '$nord11', '$nord14', '$nord13', '$nord9', '$nord15', '$nord7', '$nord6']"
!URxvt.color0:#3B4252
!URxvt.color1:#BF616A
!URxvt.color2:#A3BE8C
!URxvt.color3:#EBCB8B
!URxvt.color4:#81A1C1
!URxvt.color5:#B48EAD
!URxvt.color6:#88C0D0
!URxvt.color7:#E5E9F0
!!URxvt.color8:#4C566A
!URxvt.color8:#616E88
!URxvt.color9:#BF616A
!URxvt.color10:#A3BE8C
!URxvt.color11:#EBCB8B
!URxvt.color12:#81A1C1
!URxvt.color13:#B48EAD
!URxvt.color14:#8FBCBB
!URxvt.color15:#ECEFF4
!URxvt.foreground:#D8DEE9
!URxvt.background:#2E3440
!URxvt.cursorColor:#D8DEE9
!URxvt.scrollColor:#3B4252

! Gruvbox
!URxvt.color0:#1D1D1D
!URxvt.color1:#CC241D
!URxvt.color2:#98971A
!URxvt.color3:#D79921
!URxvt.color4:#458588
!URxvt.color5:#B16286
!URxvt.color6:#689D6A
!URxvt.color7:#989490
!URxvt.color8:#585550
!URxvt.color9:#FB4934
!URxvt.color10:#B8BB26
!URxvt.color11:#FABD2F
!URxvt.color12:#83A598
!URxvt.color13:#D3869B
!URxvt.color14:#8EC07C
!URxvt.color15:#CBC9B2
!URxvt.background:#282828
!URxvt.foreground:#CBC9B2
!URxvt.cursorColor:#FFFFFF
!URxvt.scrollColor:#585550

! base16-default-dark
*.foreground:   #d0d0d0
*.background:   #000000
*.cursorColor:  #C19020
*.scrollColor:#333333
*.color0:       #404040
*.color8:       #606060
*.color1:       #ac4142
*.color9:       #ac4142
*.color2:       #90a959
*.color10:      #90a959
*.color3:       #f4bf75
*.color11:      #f4bf75
*.color4:       #6a9fb5
*.color12:      #6a9fb5
*.color5:       #aa759f
*.color13:      #aa759f
*.color6:       #75b5aa
*.color14:      #75b5aa
*.color7:       #d0d0d0
*.color15:      #f5f5f5

! yui
!*.foreground:   #504944
!*.background:   #eeeeee
!*.cursorColor:  #d1882f
!*.scrollColor:	#504944
!*.color0:       #504944
!*.color8:       #69605a
!*.color1:       #d30505
!*.color9:       #d30505
!*.color2:       #5e8a36
!*.color10:      #5e8a36
!*.color3:       #bba53b
!*.color11:      #bba53b
!*.color4:       #296e92
!*.color12:      #296e92
!*.color5:       #60389b
!*.color13:      #60389b
!*.color6:       #377166
!*.color14:      #377166
!*.color7:       #bfb8b3
!*.color15:      #d9c046

