! rxvt-unicode (urxvt) settings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.externalBorder:   0
URxvt.internalBorder:   4
URxvt.iso14755: false
URxvt.iso14755_52: false
!URxvt.font:              x:-*-terminus-*-*-*-*-16-*-*-*-*-*-iso8859-1
!URxvt.boldFont:          x:-*-terminus-*-*-*-*-16-*-*-*-*-*-iso8859-1
URxvt.font:              xft:IBM Plex Mono:pixelsize=13
URxvt.boldFont:          xft:IBM Plex Mono:pixelsize=13
! See :help map-alt-keys in VIM
URxvt.meta8:             false
URxvt.scrollstyle:       plain
URxvt.secondaryScroll:   right
URxvt.scrollBar_right:   true
URxvt.scrollTtyOutput:   false
URxvt.scrollWithBuffer:  true
URxvt.scrollTtyKeypress: true
URxvt.thickness: 0
URxvt.saveLines:         8192
URxvt.visualBell:        true
URxvt.fading:            50
URxvt.print-pipe: "cat > /dev/null"
URxvt.perl-ext-common: default

! Solarized URxvt colors
! URxvt.color0:S_color0
! URxvt.color1:S_color1
! URxvt.color2:S_color2
! URxvt.color3:S_color3
! URxvt.color4:S_color4
! URxvt.color5:S_color5
! URxvt.color6:S_color6
! URxvt.color7:S_color7
! URxvt.color8:S_color8
! URxvt.color9:S_color9
! URxvt.color10:S_color10
! URxvt.color11:S_color11
! URxvt.color12:S_color12
! URxvt.color13:S_color13
! URxvt.color14:S_color14
! URxvt.color15:S_color15
! URxvt.foreground:S_fg
! URxvt.background:S_bg
! URxvt.scrollColor:S_color14
! URxvt.cursorColor:S_color10
! URxvt.colorBD:#ffffff
! URxvt.colorUL:#ffffff

! Charcoal
!urxvt.color0:#242424
!urxvt.color1:#774444
!urxvt.color2:#88aa77
!urxvt.color3:#aa9977
!urxvt.color4:#556677
!urxvt.color5:#775566
!urxvt.color6:#557777
!urxvt.color7:#dddddd
!URxvt.color8:#666666
!URxvt.color9:#996666
!URxvt.color10:#99cc99
!URxvt.color11:#ddccaa
!URxvt.color12:#99bbcc
!URxvt.color13:#bb99bb
!URxvt.color14:#99ccbb
!URxvt.color15:#ffffff
!URxvt.foreground:#bbbbbb
!URxvt.background:#242424
!URxvt.scrollColor:#333333
!URxvt.cursorColor:#93d487
!URxvt.colorBD:#ffffff
!URxvt.colorUL:#ffffff

! Material Lighter
!URxvt.color0:#000000
!URxvt.color1:#E53935
!URxvt.color2:#91B859
!URxvt.color3:#E2931D
!URxvt.color4:#6182B8
!URxvt.color5:#9C3EDA
!URxvt.color6:#39ADB5
!URxvt.color7:#AFBEC5
!URxvt.color8:#37474F
!URxvt.color9:#E53935
!URxvt.color10:#91B859
!URxvt.color11:#E2931D
!URxvt.color12:#6182B8
!URxvt.color13:#9C3EDA
!URxvt.color14:#39ADB5
!URxvt.color15:#EDEFF1
!URxvt.foreground:#37474F
!URxvt.background:#FAFAFA
!URxvt.cursorColor:#666666
!URxvt.scrollColor:#EDEFF1

! Muinebeag - black and white without any colors
URxvt.color0:#191919
URxvt.color1:#6f6f6f
URxvt.color2:#545454
URxvt.color3:#ced1d6
URxvt.color4:#aeaeb0
URxvt.color5:#b4b5b9
URxvt.color6:#707073
URxvt.color7:#e5e5e5
URxvt.color8:#2e2e2e
URxvt.color9:#7d7d7d
URxvt.color10:#656565
URxvt.color11:#d2d5da
URxvt.color12:#b6b6b7
URxvt.color13:#bbbcc0
URxvt.color14:#7e7e81
URxvt.color15:#cbcbcc
URxvt.foreground:#b4b5b9
URxvt.background:#090909
URxvt.cursorColor:#666666
URxvt.scrollColor:#0d0d0d

! Nord
!   _write palette "['$nord1', '$nord11', '$nord14', '$nord13', '$nord9', '$nord15', '$nord8', '$nord5', '$nord3', '$nord11', '$nord14', '$nord13', '$nord9', '$nord15', '$nord7', '$nord6']"
!URxvt.color0:#3B4252
!URxvt.color1:#BF616A
!URxvt.color2:#A3BE8C
!URxvt.color3:#EBCB8B
!URxvt.color4:#81A1C1
!URxvt.color5:#B48EAD
!URxvt.color6:#88C0D0
!URxvt.color7:#E5E9F0
!!URxvt.color8:#4C566A
!URxvt.color8:#616E88
!URxvt.color9:#BF616A
!URxvt.color10:#A3BE8C
!URxvt.color11:#EBCB8B
!URxvt.color12:#81A1C1
!URxvt.color13:#B48EAD
!URxvt.color14:#8FBCBB
!URxvt.color15:#ECEFF4
!URxvt.foreground:#D8DEE9
!URxvt.background:#2E3440
!URxvt.cursorColor:#D8DEE9
!URxvt.scrollColor:#3B4252

! Gruvbox
!URxvt.color0:#1D1D1D
!URxvt.color1:#CC241D
!URxvt.color2:#98971A
!URxvt.color3:#D79921
!URxvt.color4:#458588
!URxvt.color5:#B16286
!URxvt.color6:#689D6A
!URxvt.color7:#989490
!URxvt.color8:#585550
!URxvt.color9:#FB4934
!URxvt.color10:#B8BB26
!URxvt.color11:#FABD2F
!URxvt.color12:#83A598
!URxvt.color13:#D3869B
!URxvt.color14:#8EC07C
!URxvt.color15:#CBC9B2
!URxvt.background:#282828
!URxvt.foreground:#CBC9B2
!URxvt.cursorColor:#FFFFFF
!URxvt.scrollColor:#585550
